{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню студента</title>
    <link rel="stylesheet" href="{% static 'main/css/menu_admin.css' %}">
</head>
<body>
<div class="container">
        <h1>Добро пожаловать в панель управления</h1>
        <div class="card-container">
            <div class="card">
                <h2>ЗАПОЛНИТЬ ЗАЯВЛЕНИЕ</h2>
                <p>Заполните и отправьте заявление на проверку</p>
                <button class="card-button" onclick="window.location.href='studentstatment'">Перейти</button>
            </div>
            <div class="card">
                <h2>МОИ ЗАЯВЛЕНИЯ</h2>
                <p>Просмотрите все ваши заявления</p>
                <button class="card-button" onclick="window.location.href='studentmenu'">Перейти</button>
            </div>
        </div>
    </div>
<script>var csrftoken = '{{ csrf_token }}'</script>
<script src="{% static 'main/js/site.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>
</body>
</html>