{% extends "layout.html" %}
{% load static %}
{% block content %}

<!-- Кнопка "Назад", группа кнопок и даты -->
<button class="absolute right-2 top-24.5 transition hover:scale-110 hover:bg-red-100 p-1 px-7 border-2 border-red-500 rounded-xl font-bold" onclick="getWordAll()">Скачать список заявлений</button>
<button class="absolute right-2 top-36 transition hover:scale-110 hover:bg-red-100 p-1 px-7 border-2 border-red-500 rounded-xl font-bold" onclick="getWordSuccess()">Скачать список одобренных заявлений</button>

<div class="top-controls">
        <!-- Кнопка "Назад" -->
    <div class="border-2 border-red-500 rounded-xl flex flex-row m-5">
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="all">Все</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="verified">Одобрено</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="process">Отклонено</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold"  data-status="conflict">Конфликт</button>
    </div>
</div>

<div class="frame min-w-150 grid grid-cols-1 gap-4 rounded-xl border-2 p-5 border-red-500">
    <!-- Заголовки полей -->
    <div class="field-row flex flex-row justify-between font-bold">
        <div>ФИО</div>
        <div>Статус</div>
        <div>Баллы</div>
        <div>Дата</div>
    </div>

    <!-- Мини-формочки заявлений -->
    <div class="form-container" id="statements-container">
    </div>
</div>

<script src="{% static 'main/js/jury_menu.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>


{% endblock %}