{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="border-2 border-red-500 rounded-xl gap-12 flex flex-row flex-wrap justify-center bg-white p-2">
    <div>
        <label class="block text-sm text-gray-600 mb-1">Статус заявления</label>
        <select class="filters border-2 border-red-500 px-3 rounded-sm">
            <option value="all">Все заявления</option>
            <option value="deny">Отклонённые</option>
            <option value="confirm">Одобренные</option>
            <option value="conflict">Конфликтные</option>
            <option value="verified">Проверенные</option>
            <option value="process">На проверке</option>
            <option value="error">Ошибочные</option>
        </select>
    </div>

    <div>
        <label class="block text-sm text-gray-600 mb-1">Вид деятельности</label>
        <select class="filters border-2 border-red-500 px-3 rounded-sm">
            <option value="all">Всё</option>
            <option value="1">Учеба</option>
            <option value="2">Наука</option>
            <option value="3">Общественная деятельность</option>
            <option value="4">Культура и творчество</option>
            <option value="5">Спорт</option>
        </select>
    </div>
</div>


<button onclick= "showConfirmation(() => {markAllStatementsOutdated(); });" class="transition hover:scale-110 hover:bg-red-100 mb-5 p-1 px-7 border-2 border-red-500 rounded-xl font-bold">Все заявления сделать устаревшими</button>



<div class="frame min-w-150 grid grid-cols-1 gap-4 rounded-xl border-2 border-red-500">
    <!-- Заголовки полей -->
    <div class="flex flex-col justify-between gap-5" id="statements-container">
        <div class="clickable-statement flex-row gap-12 flex justify-between font-bold  rounded-t-xl bg-black/10 py-2">
            <div class="w-1/4">ФИО</div><div class="w-1/4">Статус</div><div class="w-1/4">Баллы</div><div class="w-1/4">Дата</div>
        </div>
    </div>
</div>

<script src="{% static 'main/js/cache.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}