{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="top-controls">
    <div class="border-2 border-red-500 rounded-xl flex flex-row m-5">
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="deny">Отклонённое</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="confirm">Одобренное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="conflict">Конфликтное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="verified">Проверенное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="process">На проверке</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="error">Ошибочное</button>
    </div>
</div>

<button onclick="openModal(markAllStatementsOutdated, 'Вы точно хотите сделать все заявления устаревшими?')" class="transition hover:scale-110 hover:bg-red-100 mb-5 p-1 px-7 border-2 border-red-500 rounded-xl font-bold">Все заявления сделать устаревшими</button>

  <!-- Модальное окно -->
  <div id="modalBackdrop" class="fixed inset-0 bg-black/60 hidden items-center justify-center z-50 flex">
    <div class="bg-white p-6 rounded-xl shadow-xl w-96 text-center">
      <h2 class="text-xl font-bold mb-4">Подтвердите действие</h2>
      <p id="modalMessage" class="mb-6">Вы точно уверены, что хотите выполнить это действие?</p>
      <div class="flex justify-center gap-4">
        <button
          class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-600"
          onclick="confirmAction()"
        >Да</button>
        <button
          class="px-4 py-2 bg-gray-400 text-white rounded-xl hover:bg-gray-500"
          onclick="closeModal()"
        >Нет</button>
      </div>
    </div>
  </div>

  <!-- Уведомление -->
  <div id="notification"></div>


    <div class="frame min-w-150 grid grid-cols-1 gap-4 rounded-xl border-2 p-5 border-red-500">
        <!-- Заголовки полей -->
        <div class="field-row flex flex-row justify-between font-bold">
            <div>ФИО</div>
            <div>Статус</div>
            <div>Баллы</div>
            <div>Дата</div>
            <div>ID Заявления</div>
            <div>Устаревшее</div>
        </div>

        <!-- Мини-формочки заявлений -->
        <div class="form-container" id="statements-container">

        </div>
    </div>
    <script src="{% static 'main/js/showNotification.js' %}"></script>
    <script src="{% static 'main/js/adminpanel_cache.js' %}"></script>
    <script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}