{% extends "layout.html" %}
{% load static %}
{% block content %}


<!-- Фрейм для ввода дат -->
<div class="m-51 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center p-4 w-100 m-5">
    <div class="field-row">
        <div>Дата начала</div>
        <input type="date" class="p-1 px-7 rounded-lg border-2 border-red-500" id="start-date-input">
    </div>

    <div class="field-row pt-3">
        <div>Дата конца</div>
        <input type="date" class="p-1 px-7 rounded-lg border-2 border-red-500" id="end-date-input">
    </div>

    <div class="flex flex-row pt-3">
        <button class="transition hover:scale-110 w-40 m-2 p-1 rounded-lg border-2 border-red-500 hover:bg-red-100 block font-bold" onclick="window.history.back()">Назад</button>
        <button onclick="openModal(setPeriod, 'Вы точно хотите сменить даты приема заявлений?')" class="transition hover:scale-110 w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white font-bold">Сохранить даты</button>
    </div>
</div>
  <!-- Модальное окно -->
  <div id="modalBackdrop" class="fixed inset-0 bg-black/60 hidden items-center justify-center z-50 flex">
    <div class="bg-white p-6 rounded-xl shadow-xl w-96 text-center">
      <h2 class="text-xl font-bold mb-4">Подтвердите действие</h2>
      <p id="modalMessage" class="mb-6">Вы точно уверены, что хотите выполнить это действие?</p>
      <div class="flex justify-center gap-4">
        <button
          class="px-4 py-2  hover:scale-110 rounded-lg bg-red-500 hover:bg-red-400 block text-white font-bold"
          onclick="confirmAction()"
        >Да</button>
        <button
          class="px-4 py-2 hover:scale-110 hover:bg-red-100 border-2 border-red-500 rounded-xl font-bold"
          onclick="closeModal()"
        >Нет</button>
      </div>
    </div>
  </div>
  <!-- Уведомление -->
  <div id="notification"></div>
<script src="{% static 'main/js/showNotification.js' %}"></script>
<script src="{% static 'main/js/site.js' %}"></script>
<script src="{% static 'main/js/adminpanel_data.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}
