{% extends "layout.html" %}
{% load static %}
{% block content %}


<!-- Фрейм для ввода дат -->
<div class="m-51 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center p-4 w-100 m-5">
    <div class="field-row">
        <div>Дата начала</div>
        <input type="date" class="p-1 px-7 rounded-lg border-2 border-red-500" id="start-date-input">
    </div>

    <div class="field-row pt-3">
        <div>Дата конца</div>
        <input type="date" class="p-1 px-7 rounded-lg border-2 border-red-500" id="end-date-input">
    </div>

    <div class="flex flex-row pt-3">
        <button class="transition hover:scale-110 w-40 m-2 p-1 rounded-lg border-2 border-red-500 hover:bg-red-100 block font-bold" onclick="window.history.back()">Назад</button>
        <button onclick="showConfirmation(() => {setPeriod()});" class="transition hover:scale-110 w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white font-bold">Сохранить даты</button>
    </div>
</div>

<script src="{% static 'main/js/data.js' %}"></script>

{% endblock %}
