{% extends "layout.html" %}
{% load static %}
{% block content %}

<button onclick="showConfirmation(() => { clearLogs(); });" class="transition hover:scale-110 hover:bg-red-100 mb-5 p-1 px-7 border-2 border-red-500 rounded-xl font-bold">Очистить историю</button>
<div class="min-w-120 frame border-2 px-3 p-1 m-2 rounded-xl border-red-500">
    <h2 class="px-3 p-1 m-2 font-bold text-xl">История действий</h2>
    <div class="px-3 p-1 m-2" id="logs-container"></div>
</div>


<script src="{% static 'main/js/adminpanel_log.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}
