{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="flex flex-col w-300 m-11">
    <div class="flex flex-wrap justify-center">
        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ПРОСМОТРЕТЬ СПИСОК ЗАЯВЛЕНИЙ</h2>
            <p class="text-left h-20">Просмотр списка заявлений со статусом "Отклонённое" и "Конфликтное", "Одобренное"</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='statments'">Перейти</button>
        </div>

        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ЗАПОЛНИТЬ ЗАЯВЛЕНИЕ</h2>
            <p class="text-left h-20">Заполните и отправьте заявление на проверку</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='statment'">Перейти</button>
        </div>

        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ПРОСМОТРЕТЬ СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h2>
            <p class="text-left h-20">Просмотрите актуальный список зарегистрированных пользователей.</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='users'">Перейти</button>
        </div>

        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center text-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ЗАДАТЬ ДАТУ НАЧАЛА И КОНЦА ПОДАЧИ ЗАЯВЛЕНИЙ</h2>
            <p class="text-left h-20">Установите временные рамки для сбора данных.</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='date'">Перейти</button>
        </div>

        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center text-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ПРОСМОТРЕТЬ СПИСОК УСТАРЕВШИХ ЗАЯВЛЕНИЙ</h2>
            <p class="text-left h-20">Посмотрите закешированные данные для быстрой обработки.</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='cache'">Перейти</button>
        </div>

        <div class="button-block hidden transition hover:scale-105 bg-white border-red-500 border-2 rounded-lg flex flex-col items-center text-center p-4 w-80 m-5">
            <h2 class="font-bold pb-2">ПРОСМОТРЕТЬ ИСТОРИЮ ДЕЙСТВИЙ</h2>
            <p class="text-left h-20">Посмотрите историю действий на сайте, чтобы выявить ошибки.</p>
            <button class="w-40 m-2 p-1 rounded-lg bg-red-500 hover:bg-red-400 block text-white" onclick="window.location.href='log'">Перейти</button>
        </div>

    </div>
    <script>
        const json = {
            session: sessionStorage.getItem('sessionId')
        };

        HttpRequestPostJson('getRole', function (response) {
            var blocks = document.querySelectorAll(".button-block")
            if (response.answer == "Administrator") {
                blocks[0].classList.remove("hidden")
                blocks[1].remove()
                blocks[2].classList.remove("hidden")
                blocks[3].classList.remove("hidden")
                blocks[4].classList.remove("hidden")
                blocks[5].classList.remove("hidden")
            }else if (response.answer == "Student") {
                blocks[0].classList.remove("hidden")
                blocks[0].querySelector(".font-bold").innerHTML = "МОИ ЗАЯВЛЕНИЯ"
                blocks[0].querySelector(".text-left").innerHTML = "Просмотрите все ваши заявления"
                blocks[1].classList.remove("hidden")
                blocks[2].remove()
                blocks[3].remove()
                blocks[4].remove()
                blocks[5].remove()
            }else if (response.answer == "Jury") {
                blocks[0].classList.remove("hidden")
                blocks[1].remove()
                blocks[2].remove()
                blocks[3].remove()
                blocks[4].remove()
                blocks[5].remove()
            }else if (response.answer == "Inspector studies" || response.answer == "Inspector science" || response.answer == "Inspector culture" || response.answer == "Inspector activities" || response.answer == "Inspector sport") {
                blocks[0].classList.remove("hidden")
                blocks[1].remove()
                blocks[2].remove()
                blocks[3].remove()
                blocks[4].remove()
                blocks[5].remove()
            } else {
                console.error("Нет данных или ошибка запроса");
            }
        }, json);
    </script>
</div>




{% endblock %}