{% extends "layout.html" %}
{% load static %}
{% block content %}



<div>
    <div class="border-2 border-red-500 rounded-xl flex flex-row m-5">
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="all">Все</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="deny">Отклонённое</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="confirm">Одобренное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="conflict">Конфликтное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="verified">Проверенное</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="process">На проверке</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="error">Ошибочное</button>
    </div>

</div>

<div class="frame min-w-150 grid grid-cols-1 gap-4 rounded-xl border-2 p-5 border-red-500">
    <!-- Заголовки полей -->
    <div class="flex flex-col justify-between gap-5" id="statements-container">
        <div class="clickable-statement flex-row gap-12 flex justify-between font-bold ">
            <div class="w-1/4">ФИО</div><div class="w-1/4">Статус</div><div class="w-1/4">Баллы</div><div class="w-1/4">Дата</div>
        </div>
    </div>
</div>

<script src="{% static 'main/js/statments.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}