{% extends "layout.html" %}
{% load static %}
{% block content %}

<!-- Блок с информацией о пользователе -->
<div class="frame-admin min-w-150 grid grid-cols-1 gap-4 rounded-xl border-2 p-5 border-red-500">
    <div class="field-row flex flex-row justify-between">
    </div>
</div>

<!-- Кнопки для изменения ролей пользователя -->
<div class="role-selection m-5 rounded-xl border-2 border-red-500 mb-27">
    <label class="px-3 p-1 m-2 font-bold" for="role-select">Выберите роль:</label>
    <select class="border-2 px-3 p-1 m-2 rounded-xl border-red-500" id="role-select">
        <option value="0">Студент</option>
        <option value="1">Администратор</option>
        <option value="2">Жюри</option>
        <option value="3">Инспектор (Учеба)</option>
        <option value="4">Инспектор (Наука)</option>
        <option value="5">Инспектор (Деятельность)</option>
        <option value="6">Инспектор (Культура)</option>
        <option value="7">Инспектор (Спорт)</option>
    </select>
    <button onclick="showConfirmation(() => { changeUserRole();});" class="text-white font-bold px-4 p-1 m-2 bg-red-500 rounded-xl" id="change-role-button">Подтвердить</button>
</div>


<script src="{% static 'main/js/adminpanel_user.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}
