{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="flex items-center justify-space-between mb-5">
    <div class="border-2 border-red-500 rounded-xl flex flex-row m-5">
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="All">Все</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="Student">Студенты</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="Administrator">Администраторы</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="Jury">Жюри</button>
        <button class="perehod m-2 p-2 active:bg-red-500 active:text-white hover:bg-red-200 rounded-xl font-bold" data-status="Inspector">Инспекторы</button>
    </div>

</div>

<div class="frame border-2 rounded-xl border-red-500 flex flex-col min-w-200">
    <!-- Таблица пользователей рендерится здесь -->
</div>

<script src="{% static 'main/js/adminpanel_users.js' %}"></script>
<script src="{% static 'main/js/roleControl.js' %}"></script>

{% endblock %}