{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'main/css/registr.css' %}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>Авторизация</h2>

            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя" id="login-input" required>
            <input type="password" name="password" placeholder="Пароль" id="password-input" required>
            <button type="submit" onclick="login()">Войти</button>
             <p id="error-message" style="color: red; display: none;"></p>
    </div>
</div>

<script>if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) window.location.href = '/m.login'</script>
<script>var csrftoken = '{{ csrf_token }}'</script>
<script src="{% static 'main/js/site.js' %}"></script>
<script src="{% static 'main/js/login.js' %}"></script>
</body>
</html>