{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>История действий</title>
    <link rel="stylesheet" href="{% static 'main/css/antiknopka.css' %}">
</head>
<body>

    <div class="top-controls">
        <button class="back-button" onclick="window.location.href='adminpanel'">Назад</button>

        <div class="date-container" id="period-container">
            <span class="date-label">Дата начала:</span>
            <span class="date-value" id="start-date"></span>
            <span class="date-label">Дата конца:</span>
            <span class="date-value" id="end-date"></span>
        </div>
    </div>
<button id="clear-logs-btn">Очистить историю</button>
    <div class="frame">
        <h2>История действий</h2>
        <div id="logs-container"></div>

    </div>

<script>var csrftoken = '{{ csrf_token }}'</script>
<script src="{% static 'main/js/site.js' %}"></script>
<script src="{% static 'main/js/adminpanel_log.js' %}"></script>

</body>
</html>
