{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смена пользователя</title>
    <link rel="stylesheet" href="{% static 'main/css/antiknopka.css' %}">
</head>
<body>

    <div class="top-controls">
        <button class="back-button"  onclick="window.location.href='adminpanel'">Назад</button>


        <div class="date-container" id="period-container">
            <span class="date-label">Дата начала:</span>
            <span class="date-value" id="start-date">Не задано</span>
            <span class="date-label">Дата конца:</span>
            <span class="date-value" id="end-date">Не задано</span>
            <button class="set-date-button" onclick="window.location.href='adminpaneldata'">Задать дату</button>
        </div>
    </div>

    <!-- Блок с информацией о пользователе -->
    <div class="frame-admin">
        {% for field_name, field_value in user_fields.items %}
        <div class="field-row">
            <div>{{ field_name }}</div>
            <div>{{ field_value|default:"Не указано" }}</div>
        </div>
        {% endfor %}
    </div>

    <!-- Кнопки для изменения ролей пользователя -->
    <div class="role-buttons">
        <div class="role-group">
            <button class="role-button approve" data-role="jury">Дать роль Жюри</button>
            <button class="role-button reject" data-role="jury">Снять роль Жюри</button>
        </div>
        <div class="role-group">
            <button class="role-button approve" data-role="checker">Дать роль Проверяющий</button>
            <button class="role-button reject" data-role="checker">Снять роль Проверяющий</button>
        </div>
        <div class="role-group">
            <button class="role-button approve" data-role="admin">Дать роль Администратор</button>
            <button class="role-button reject" data-role="admin">Снять роль Администратор</button>
        </div>
    </div>

    <!-- Подключение JavaScript -->
    <script>var csrftoken = '{{ csrf_token }}';</script>
    <script src="{% static 'main/js/adminpanel_user.js' %}"></script>
    <script src="{% static 'main/js/site.js' %}"></script>
    <script src="{% static 'main/js/roleControl.js' %}"></script>
</body>
</html>
