body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.top-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button {
    background-color: transparent;
    border: 2px solid #e63946;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #e63946;
    transition: background-color 0.3s, color 0.3s;
    position: absolute; /* Абсолютное позиционирование */
    left: 20px;
    top: 22px;

}

.back-button:hover {
    background-color: rgba(230, 57, 70, 0.2);
    color: #e63946;
}

.formButton {
    border: 2px solid #e63946; /* Красная рамка */
    background-color: #fff; /* Белый блок */
    border-radius: 30px; /* Скругленные углы для внешней рамки */
    display: flex;
    flex-flow: row nowrap; /* Ряд кнопок в одну строку */
    gap: 10px; /* Промежуток между кнопками */
    padding: 10px;
    text-align: center;
    margin: 20px 0; /* Увеличенный отступ сверху и снизу */
}

.perehod {
    background-color: transparent; /* Прозрачный фон кнопок */
    border: none; /* Убираем рамки кнопок */
    padding: 10px 20px; /* Отступы для кнопок */
    font-size: 14px; /* Размер текста */
    font-weight: bold;
    cursor: pointer;
    color: #e63946; /* Цвет текста */
    border-radius: 20px; /* Закругленные края кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.perehod:hover {
    background-color: rgba(230, 57, 70, 0.2); /* Легкий красный фон при наведении */
    color: #e63946;
}

.perehod.active {
    background-color: #e63946; /* Красный фон активной кнопки */
    color: #fff; /* Белый текст */
}

.frame {
    width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #e63946;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

}
input[readonly] {
    background-color: #f0f0f0; /* Серый фон, чтобы показать, что редактирование запрещено */
    color: #333; /* Темный текст */
    border: 1px solid #ccc; /* Стандартная граница */
    cursor: not-allowed; /* Указывает, что нельзя редактировать */
}

.all-frame {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое */
    justify-content: center;
    width: 100%; /* Растягиваем на всю ширину */

    margin: 0 auto; /* Центрирование */
    padding: 20px;
    box-sizing: border-box;
}
.field-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.field-row div {
    font-weight: bold;
    color: #e63946;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;


}





.statement-form {
    display: flex;
    gap: 20px; /* Промежуток между полями формы */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.statement-form input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #FF0000;
    border-radius: 5px;
}

.form-container div {
    padding: 5px 10px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e63946;
    border-radius: 5px;
    text-align: center;
    display: flex;
}
.form-container input {
    width: 100%; /* Растягивает input на всю ширину родителя */
    padding: 8px; /* Добавляет отступы для удобства ввода */
    border: 1px solid #ccc; /* Опционально: стиль границы */
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Учитывает padding в ширине */
}
.date-container {
    margin-left: auto; /* Сдвиг блока дат вправо */
    margin-right: 20px; /* Дополнительный отступ от правого края */
    display: flex;
    align-items: center;
    gap: 10px; /* Промежуток между элементами */
    font-size: 14px;
    color: #333; /* Темно-серый текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 20px;
}


.date-label {
    font-weight: bold;
    color: #e63946;
}

.date-value {
    color: #555; /* Немного светлее для даты */
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #e63946;
    border-radius: 5px;
}
.set-date-button {
    background-color: #fff; /* Белый фон */
    border: 2px solid #e63946; /* Красная рамка */
    border-radius: 20px; /* Закругленные края */
    padding: 5px 15px; /* Отступы */
    font-size: 14px; /* Размер текста */
    font-weight: bold;
    cursor: pointer;
    color: #e63946; /* Красный текст */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при наведении */
}

.set-date-button:hover {
    background-color: rgba(230, 57, 70, 0.2); /* Легкий красный фон при наведении */
    color: #e63946;
}
.field-row {
    display: grid;
    
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.clickable-statement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Четыре равные колонки */
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.clickable-statement input {
    width: 100%; /* Растягиваем input */
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Учитываем отступы */
}

.clickable-statement:hover {
    background-color: #e9e9e9;
}

#mark-all-outdated {
    background-color: #fff;
    border: 2px solid #e63946;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #e63946;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mark-all-outdated:hover {
    background-color: rgba(230, 57, 70, 0.2);
    color: #e63946;
    transform: scale(1.05); /* Легкое увеличение при наведении */
}
.form-container {

    display: flex;
    flex-wrap: nowrap; /* Запрещаем перенос элементов */
    gap: 15px; /* Расстояние между полями */
    overflow-x: auto; /* Добавляет прокрутку, если не помещается */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-entry {
    border: 1px solid #000;
    padding: 10px;
    background: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}



/* Разделители для категорий A, Б, В */
.category-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
}

.category-section h3 {
    margin: 0;
    font-size: 18px;
    color: #0056b3;
}

.category-section p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #555;
}
.container {
    width: 80%;
    max-width: 1200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.button {
    background: #e63946;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
    color: #e63946;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus, .form-group select:focus {
    border-color: #e63946;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.3);
}
.submit-btn {
    background: #e63946;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #d62839;
}

.frame-mid-none {
    display: flex;
    gap: 10px;
    margin-top: 10px;

}
.frame-center{
    text-align:center
}
.frame-mid {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid2 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid3 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid4 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid5 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid6 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid7 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid8 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid9 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid10 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid11 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid12 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid13 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-mid14 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    flex-grow: 1;
    width: 100%;

}
.frame-left, .frame-right {
    flex: 1;
    border: 2px solid #000;
    padding: 10px;
}
.frame-admin {
    width: auto;
    height: auto;
    margin-top: 20px;
    border: 2px solid #e63946;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
/* Кнопки ролей */
.role-buttons {
    display: flex;
    flex-direction: row; /* Группы располагаются вертикально */
    gap: 20px; /* Отступы между группами кнопок */
    margin-top: 20px;
}
.role-group {
    display: flex;
    flex-direction: column; /* Кнопки в группе располагаются вертикально */
    gap: 10px; /* Отступ между кнопками в группе */
}

.role-button {
    background-color: transparent;
    border: 2px solid #e63946; /* Тонкая рамка */
    border-radius: 15px; /* Скругленные углы */
    padding: 8px 20px; /* Компактные отступы */
    font-size: 14px; /* Уменьшенный размер текста */
    font-weight: bold;
    cursor: pointer;
    color: #e63946;
    transition: background-color 0.3s, color 0.3s;
}

.role-button:hover {
    background-color: rgba(230, 57, 70, 0.2);
    color: #e63946;
}

.role-button.approve {
    color: #4caf50; /* Зеленый цвет для одобрения */
    border-color: #4caf50;
}