.me-label-container {
    display: flex;
    padding: 10px;
}


.me-buttons-ava-container {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.mbac-buttons {
    display: flex;
    align-items: center;
    flex-flow:column;
}

.mbac-button {
    display: flex;
    width: 220px;
    height: 45px;
    margin: 15px 30px 15px 0px;
    border-radius: 10px;
    background: var(--main-color);
    align-items: center;
    justify-content: center;
}

.mbac-button:hover {
    background: #8000ff;
}

.mbac-button-img {
    width: 20px;
    height: 20px;
}

.mbac-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    background: #d1d1d1;
}



.me-data-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}


.mdc-block {
    display: flex;
    margin: 10px;
    align-items: center;
}

.mdcb-text {
    display: flex;
    margin-left:0px;
}

.mdcb-input {
    color: black;
    margin-left: auto;
    margin-right: 0;
    width: 250px;
    border-radius: 10px;
    border: 0;
    height: 25px;
    background: #dddddd;
    box-shadow: 0px 3px 0px rgb(0, 0, 0, 0.2);
    font-weight:bold;
    padding-left:10px;
}

.mdcb-button {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    color: white;
    margin-left: 5px;
    margin-right: auto;
    width: 220px;
    border-radius: 10px;
    border: 0;
    height: 30px;
    box-shadow: 0px 4px 0px var(--grey-color-dark);
    background: var(--grey-color);
    font-weight:bold;
    line-height: 1.5px;
}


.mdc-block-p {
    margin-top: 40px;
}


.me-buttons-container {
    display: flex;
    flex-flow: column;
}

.mbc-block {
    display: flex;
    width: 450px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 4px 0px rgb(0, 0, 0, 0.2);
}

.mbcb-green {
    background: var(--green-color);
    border: 1px solid var(--green-color);
}

.mbcb-red {
    background: var(--red-color);
    border: 1px solid var(--red-color);
}

.mbcb-green:hover {
    background: white;
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.mbcb-red:hover {
    background: white;
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.block-container-label {
    color: black;
    font-size: 20px;
    margin: 30px 0px 15px 0px;
}


.block-container {
    display: none;
    color: white;
    flex-flow: column;
}

.block-container-dop {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px 0px 20px 0px;
    flex-flow: column;
    width: 420px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px rgb(0, 0, 0, 0.3);
    background: #e4e4e4;
}


.input-selector {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    font-weight:bold;
    padding:5px;
    margin: 10px;
    box-shadow: 0px 4px 0px rgb(0, 0, 0, 0.2);
    flex-flow: column;
}



.block-container-button {
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    color:white;
    box-shadow: 0px 4px 0px var(--main-color-dark);
    background: var(--main-color);
}


.bcb-red {
    box-shadow: 0px 4px 0px var(--red-color-dark);
    background: var(--red-color);
}

.bcb-green {
    box-shadow: 0px 4px 0px var(--green-color-dark);
    background: var(--green-color);
}

.buttons-container {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.buttons-container-button {
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    padding: 5px;
    margin: 20px;
    color: white;
}

.button-in-container {
    display: flex;
    width: 250px;
    flex-flow:column;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.bcb-grey {
    box-shadow: 0px 4px 0px var(--grey-color-dark);
    background: var(--grey-color);
}

.bcb-main {
    box-shadow: 0px 4px 0px var(--main-color-dark);
    background: var(--main-color);
}








.dn{
    display:none;
}


.checkbox{
    display:flex;
    width:20px;
    height:20px;
    border-radius: 5px;
}


.button-unchecked{
    box-shadow: 0px 4px 0px var(--grey-color-dark);
    border: 2px solid var(--grey-color);
    margin-right: 20px;
    width:20px;
    height:20px;
    color:transparent;
}

.button-checked{
    box-shadow: 0px 4px 0px var(--main-color-dark);
    background: var(--main-color);
    margin-right: 20px;
    width:24px;
    height:24px;
    color:white;
    align-items: center;
    justify-content: center;
}



.checkbox-row{
    display:flex;
    flex-flow:row;
    margin-bottom:25px;
    margin-left:25px;
    align-items: center;
}

.course-data-container{
    display:flex;
    flex-flow:column;
}


#cdc-description{
    height:100px;
}

#ldc-text{
    height:100px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: auto;
    margin-right: 0px;
    width: 220px;
    border-radius: 10px;
    border: 0;
    height: 30px;
    box-shadow: 0px 4px 0px var(--grey-color-dark);
    background: var(--grey-color);
    font-weight:bold;
}






.message{
    position:absolute;
    display:block;
    background:#a3a3a3;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.4);
    width:250px;
    height:50px;
    opacity:1;
    font-weight:bold;
    left:20px;
    transition: 3s;
    border-radius:10px;
}




.message-error{
    color: #a30000;
    background:#ffbfbf;
}


.message-sucess{
    color: green;
    background:#c5ffbf;
}


.center-text{
    position:absolute;
    top:50%;
    left:10%;
    text-align:center;
    font-size:17px;
    transform:translate(0%,-50%);
}


.alert-text{
    display:block;
    text-align:center;
    font-size:17px;
    line-height: 1;
    color: black;
    width: 100%;
    margin:20px 20px 20px 20px;
    margin-top:20px;
}

.alert_{
    min-height: 100px;
    position:absolute;
    display:flex;
    min-width:350px;

    font-weight:bold;
    left:50%;
    top:50%;
    border-radius:10px;
    transform:translate(-50%, -50%);
    flex-flow:column;


    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 0px rgb(0, 0, 0, 0.3);
    background: #e4e4e4;
}




.center-text-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px;
}


.buttons-container-button-alert {
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    padding: 5px;
    margin: 20px;
    color: white;
}


.blockirator{
    display:block;
    background:black;
    opacity:0.5;
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
}





.naming-video{
    margin-top:0.5vh;
    margin-bottom:2vh;
    font-size:2vh;
}

.video{
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}



#progressBar{
    margin-left: auto;
    margin-right: 14px;
}

#progressBar2{
    margin-left: auto;
    margin-right: 14px;
}






.lesson-disclaimer{
    color: red;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    width: 420px;
    margin-left: 20px;
}


#module-order-container{
    display: flex;
    border:1px dashed #e4d3ff;
    margin-left: 12px;
    border-radius:10px;
}


#course-order-container{
     display: flex;
     border:1px dashed #e4d3ff;
     margin-left: 12px;
     border-radius:10px;
}



.list-order-el{
    display: flex;
    flex-flow: column;
    padding:10px;
    line-height: 1;
    margin: 5px;
    border:1px solid #e4d3ff;
    border-radius:10px;
}


.list-order-el:hover{
    background: #e4d3ff;
}